body {
    width: 100%; 
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.line-number {
    margin:0 auto;
    display:block;
    font-size:15px;
    font-weight:700
}

a {
    cursor: pointer;
}

.vehicle-marker {
    background-color:#fff;
    box-shadow:1px 4px 7px #8a8a8a;
    position:relative;
    border-radius:15px;
    display:flex;
    outline:none;
    align-items:center;
    padding:0 6px!important;
}

.vehicle-marker-active{
    background-color: #fff;
    box-shadow:1px 4px 7px #8a8a8a;
    width: 5px;
    border: 0;
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    outline: none;
    border-radius: 18px;
    height: 5px;
}

.stop_marker {
    width: 5px;
    height: 5px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    outline: none;
    border-radius: 18px;
}

.bus {
    color:#006b47!important;
    border:2px solid #006b47!important;
}
.tram {
    color:#007bff!important;
    border:2px solid #007bff!important;
}
.skm {
    color:#009955!important;
    border:2px solid #009955!important;
}
.km {
    color:#008800!important;
    border:2px solid #008800!important;
}

.leaflet-marker-icon.vehicle {
    -webkit-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -o-transition: transform .3s linear;
    -ms-transition: transform .3s linear;
    transition: transform .3s linear;
}

path {
    pointer-events: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.leaflet-control-attribution {
    display: none;
}